Q5

MOUNTING THE DRIVE

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

importing libraries

In [2]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import sklearn
np.random.seed(0)

DEFINING LIKELIHOOD FUNCTION

In [3]:
def likelihood_function(X, cov, mean):
    return ((1 / (np.power((2 * np.pi), X.shape[0] / 2) * np.sqrt(np.linalg.det(cov)))) * np.exp(-0.5 * (((X - mean)).dot((np.linalg.inv(cov)).dot((X - mean).T)))))

DEFINING MEAN FUNCTION

In [4]:
def mean(A): 
    m = []
    A=np.array(A)
    for i in range(A.shape[1]):
        m.append(sum(A[:,i])/len(A))
    return m

DEFINING Maximum likelihood (ML) FUNCTION

In [5]:
def ML(test_X,mn,cov):
  res=[]
  for i in range(len(mn)):
    res.append(likelihood_function(test_X,cov[i],mn[i]))
  return (np.argmax(res))

DEFINING maximum a posteriori (MAP) FUNCTION

In [6]:
def MAP(test_X,Py,mn,cov):
  res=[]
  for i in range(len(mn)):
    res.append(likelihood_function(test_X,cov[i],mn[i])*Py[i])

  return (np.argmax(res))

LOADING DATA

In [7]:
df=pd.read_excel('/content/drive/MyDrive/nnfl data/data.xlsx',header=None)

In [8]:
for i in range(df.shape[1]-1):
    df[i]=(df[i]-df[i].mean())/df[i].std()

SPLITTING DATA INTO TRAINING AND TESTING

In [9]:
train, test = np.split(df.sample(frac=1, random_state=10),[int(0.7 * len(df))])
train=np.asarray(train)
test=np.asarray(test)
train_X=train[:,0:train.shape[1]-1]
train_Y=train[:,train.shape[1]-1]
test_X=test[:,0:test.shape[1]-1]
test_Y=test[:,test.shape[1]-1]

In [10]:
Py=[]
mn=[]
cov=[]
for j in np.unique(train_Y):
  Py.append(len([i for (i, val) in enumerate(train_Y) if val == j])/len(train_Y))
  x = np.array([train_X[i] for (i, val) in enumerate(train_Y) if val == j])
  mn.append(mean(x));
  cov.append(np.cov(x.T))
mn=np.array(mn)
cov=np.array(cov)

IMPLEMENTING MAP

In [11]:
ypred=[]
for i in range(len(test_X)):
  ypred.append(MAP(test_X[i],Py,mn,cov)+1)

ypred=np.array(ypred)

df_confusion = pd.crosstab(test_Y, ypred)
df_confusion

df_confusion=np.array(df_confusion)
row_sum=0.0;
overall_sum=0.0;
dia_el=0.0

ACCURACY WITH MAP

In [12]:
for i in range(df_confusion.shape[0]):
  row_sum=np.sum(df_confusion[i,:])
  overall_sum +=row_sum
  acc=np.round(df_confusion[i,i]/row_sum,5)*100;
  dia_el+=df_confusion[i,i]
  print("Accuracy for class "+str(i+1)+" is {}%\n".format(acc))

Accuracy for class 1 is 27.426000000000002%

Accuracy for class 2 is 29.412%

Accuracy for class 3 is 21.132%

Accuracy for class 4 is 25.2%

In [13]:
ov_acc=np.round((dia_el/overall_sum),5)*100
print("Overall Accuracy for the model is {}%\n".format(ov_acc))

Overall Accuracy for the model is 25.781%

IMPLEMENTING ML

In [14]:
ypred=[]
for i in range(len(test_X)):
  ypred.append(ML(test_X[i], mn ,cov)+1)

In [15]:
ypred=np.array(ypred)
df_confusion = pd.crosstab(test_Y, ypred)
df_confusion

col_0   1   2   3   4
row_0
1.0    64  47  52  74
2.0    62  80  53  77
3.0    73  63  57  72
4.0    60  56  71  63

ACCURACY WITH ML

In [16]:

df_confusion=np.array(df_confusion)
row_sum=0.0;
overall_sum=0.0;
dia_el=0.0
for i in range(df_confusion.shape[0]):
  row_sum=np.sum(df_confusion[i,:])
  overall_sum +=row_sum
  acc=np.round(df_confusion[i,i]/row_sum,5)*100;
  dia_el+=df_confusion[i,i]
  print("Accuracy for class "+str(i+1)+" is {}%\n".format(acc))

Accuracy for class 1 is 27.004%

Accuracy for class 2 is 29.412%

Accuracy for class 3 is 21.509%

Accuracy for class 4 is 25.2%

In [17]:
ov_acc=np.round((dia_el/overall_sum),5)*100
print("Overall Accuracy for the model is {}%\n".format(ov_acc))

Overall Accuracy for the model is 25.781%